html {
  overflow: hidden !important;
  height: 100% !important;
  width: 100% !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
}

body {
  overflow: hidden !important;
  height: 100% !important;
  width: 100% !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

#root {
  overflow: hidden !important;
  height: 100% !important;
  width: 100% !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
}

* {
  scroll-behavior: auto !important;
  overscroll-behavior: none !important;
}

*:focus {
  scroll-margin: 0 !important;
}